mixin footer(data)
    footer.footer
    
        .content
            .header__logo-block
                a.middle(href="#")
                    img(src="static/img/general/logo.png" alt="")
                    
            .header__contact-block
                .header__contact-block__item
                    .middle
                    
                        a.header__contact-block_link <i class="mail"></i> info@pravovoistatus.ru
                                
                        a.header__contact-block_link <i class="skype"></i> praovoistatus.ru
                        
                .header__contact-block__item
                    .middle
                                    
                        a.header__contact-block_link <i class="phone"></i> +7 (495) 740-33-17
                                
                        a.header__contact-block_link <i class="phone2"></i> +7 (926) 390-19-35
                        
            .footer__it-grade 
                .middle
                    a.footer__it-grade__logo(href="http://itgrade.ru/" target="_blank")
                        i
                        span Создано командой <br> Айти Грэйд
                    
                    
                    
                    
                    
                    
                
                        
                
