mixin center-slider(data)

    section.center-slider#center
        .center
        
            a.sl
                img(src="static/img/general/slide2.jpg")
        
            a.sl
                img(src="static/img/general/slide2.jpg")
        
            a.sl
                img(src="static/img/general/slide2.jpg")
